/*Geral*/
* {
  padding: 0;
  margin: 0;
  font-family: "SUSE", sans-serif;
  color: #2C3E50;
  box-sizing: border-box;
}

body {
  background-color: #ECF0F1;
  background-position: center;
  background-size: cover;
}

button {
  border-radius: .4rem;
  padding: .3rem .6rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .3s ease;

  cursor: pointer;
  background-color: #2980B9;
  color: #fff;
  border: none;
}

button:hover {
  background-color: #3498DB;
}

button:hover>i {
  color: #fff;
}

button i {
  color: #102f5e;
  font-weight: bold;
  pointer-events: none;
}

input,
select {
  padding: .25rem .5rem;
}

.hidden {
  display: none;
}

/* Todo header */

.container {
  max-width: 80%;
  margin: 3rem auto;
  padding: 1.5rem;
  border-radius: 15px;

  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #BDC3C7;
}

/* todo form */

#todo-form,
#edit-form {
  padding: 1rem;
  border-bottom: 1px solid #BDC3C7;
}

#todo-form p,
#edit-form p {
  margin-bottom: 1rem;
  font-weight: bold;
}

.form-control {
  display: flex;
}

.form-control input {
  margin-right: .3rem;
}

#cancel-edit-btn {
  margin-top: 1rem;
  background-color: #E74C3C;
  color: #fff;
}

/* todo toolbar */
#toolbar {
  padding: 1rem;
  border-bottom: 1px solid #BDC3C7;
  display: flex;
}

#toolbar h4 {
  margin-bottom: .5rem;
}

#search {
  border-right: 1px solid #BDC3C7;
  padding-right: 1rem;
  margin-right: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}

#search form {
  display: flex;
}

#search input {
  width: 100%;
  margin-right: 1rem;
  border: 1px solid #BDC3C7;
}

#filter {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#filter select {
  flex: 1;
}

/* todo-list */
#todo-list {
  padding: 1.5rem;
  border-radius: 15px;
  width: 80%;
  margin: 2rem auto;

  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#todo-list h2 {
  margin-bottom: 1rem;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #BDC3C7;
  background-color: #fff;
  transition: background-color .3s ease;
}

.todo h3 {
  flex: 1;
  font-size: 1rem;
}

.todo button {
  margin-left: 1rem;
}

.done {
  background-color: #aacff8;
}

.done h3 {
  color: #342F37;
}

.done button:first-of-type {
  background-color: #848d85;
  border: #848d85;
}

.done button:first-of-type>i {
  color: #fff;
}

.done button:first-of-type:hover {
  background-color: #342F37;
}

button {
  position: relative;
}

button[data-tooltip]:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #342F37;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  white-space: nowrap;
  z-index: 10;
}

button[data-tooltip]:hover::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #342F37 transparent;
  z-index: 10;
}